# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
# pypi_0 deleted
# clingo=5.4.0 can be installed by 'conda install -c potassco clingo'
_libgcc_mutex=0.1=main
ca-certificates=2020.6.24=0
certifi=2020.6.20=py37_0
# clingo=5.4.0=py37lua53hf484d3e_0
cycler=0.10.0
dill=0.3.2=py_0
kiwisolver=1.2.0
ld_impl_linux-64=2.33.1=h53a641e_7
libedit=3.1.20191231=h14c3975_1
libffi=3.2.1=hd88cf55_4
libgcc-ng=9.1.0=hdf63c60_0
libstdcxx-ng=9.1.0=hdf63c60_0
lua=5.3.4=h7b6447c_0
matplotlib=3.3.1
ncurses=6.2=he6710b0_1
numpy=1.19.1
openssl=1.1.1g=h7b6447c_0
pandas=1.1.0
pillow=7.2.0
pip=20.1.1=py37_1
pyparsing=2.4.7
python=3.7.7=h191fe78_0_cpython
python-dateutil=2.8.1
pytz=2020.1
readline=7.0=h7b6447c_5
scipy=1.5.2
seaborn=0.10.1
setuptools=49.2.0=py37_0
six=1.15.0
sqlite=3.32.3=h62c20be_0
tk=8.6.10=hbc83047_0
wheel=0.34.2=py37_0
xz=5.2.5=h7b6447c_0
zlib=1.2.11=h7b6447c_3
