pthread-stubs=0.4
matplotlib=2.2.4
libgcc-ng=9.2.0
gst-plugins-base=1.14.5
freetype=2.10.1
fontconfig=2.13.1
grpcio=1.23.0
clingo=5.3.0
llvm-openmp=10.0.0
xorg-libxau=1.0.9
wikipedia=1.4.0
jpeg=9c
qt=5.12.5
xorg-libxdmcp=1.1.3
gstreamer=1.14.5
liblapack=3.8.0
libclang=9.0.1
libstdcxx-ng=9.2.0
hdf5=1.10.5
pyqt5-sip=4.19.18
icu=64.2
nss=3.47
scriptine=0.2.1
seaborn=0.9.1
ld_impl_linux-64=2.34
libcblas=3.8.0
libuuid=2.32.1
libblas=3.8.0
enum34=1.1.10
nspr=4.25
binutils_impl_linux-64=2.34
libxkbcommon=0.10.0
matplotlib-base=2.2.4
pyqtwebengine=5.12.1
binutils_linux-64=2.34
libgomp=9.2.0
pyqt=5.12.3
glib=2.58.3
_openmp_mutex=4.5
ptvsd=4.3.2
python_abi=2.7
pgmpy=0.1.6
libopenblas=0.3.9