keras-preprocessing=1.1.0
six=1.14.0
mock=3.0.5
ncurses=6.1
networkx=2.2
pygpu=0.7.6
gcc_linux-64=7.3.0
pysocks=1.7.1
backports=1.0
pycparser=2.20
idna=2.8
markdown=3.1.1
pytz=2019.3
gxx_impl_linux-64=7.3.0
backports_abc=0.5
astor=0.7.1
functools32=3.2.3.2
gcc_impl_linux-64=7.3.0
subprocess32=3.5.4
setuptools=44.0.0
tensorboard=1.14.0
futures=3.3.0
dill=0.3.2
traceback2=1.4.0
_tflow_select=2.3.0
c-ares=1.15.0
python=2.7.15
urllib3=1.25.8
zlib=1.2.11
chardet=3.0.4
gettext=0.19.8.1
tornado=5.1.1
decorator=4.4.2
keras-applications=1.0.8
pip=20.0.2
pandas=0.22.0
theano=1.0.4
readline=8.0
funcsigs=1.0.2
# This file may be used to create an environment using:
tensorflow-estimator=1.14.0
libiconv=1.15
gast=0.3.3
libgpuarray=0.7.6
singledispatch=3.4.0.3
tensorflow=1.14.0
h5py=2.10.0
_libgcc_mutex=0.1
libllvm9=9.0.1
numpy=1.16.5
requests=2.22.0
mako=1.1.0
libpng=1.6.37
wheel=0.34.2
werkzeug=1.0.1
pyparsing=2.4.7
libprotobuf=3.11.4
gxx_linux-64=7.3.0
libxcb=1.13
libgfortran-ng=7.3.0
# platform: linux-64 
future=0.18.2
soupsieve=1.9.4
protobuf=3.11.4
beautifulsoup4=4.8.2
google-pasta=0.2.0
wrapt=1.12.1
xz=5.2.5
libffi=3.2.1
unittest2=1.1.0
markupsafe=1.1.1
tensorflow-base=1.14.0
cycler=0.10.0
expat=2.2.9
ipaddress=1.0.23
cffi=1.14.0
nose=1.3.7
absl-py=0.9.0
pcre=8.44
termcolor=1.1.0
certifi=2019.11.28
linecache2=1.0.0
libxml2=2.9.10
nltk=3.4.4
tk=8.6.10
# $ conda create --name <env> --file <this file>
dbus=1.13.6
kiwisolver=1.1.0
cryptography=2.8
sqlite=3.30.1
backports.functools_lru_cache=1.6.1
openssl=1.1.1g
python-dateutil=2.8.1
backports.weakref=1.0.post1
scipy=1.2.1
pyopenssl=19.1.0
ca-certificates=2020.6.24